/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ======================
   Colors
   ====================== 

Gray Borders: rgba(0, 0, 51, .15); 
Blue Check: #62AFFF;
Red X: #ff4d94;
Yellow: #fbfbb6;
Text: rgba(0, 0, 51, .65);
Labels: rgba(0,0,51, .25);
White: #fff;

*/

/* ======================
   Global styles 
   ====================== */
html,
body{
  background-color: #fbfbb6;
  font-family: 'Arima Madurai', 'Arial';
  margin: 0 auto;
  max-width: 550px;
  color: rgba(0, 0, 51, .65);
  font-size: 16px;
}

main {
  width: 100%;
  margin-top: 40px;
  background-color: #fff;
  text-align: center;
  font-size: 1.2em;
  box-shadow: 1px 1px 11px 2px rgba(0,0,0,0.34);
  border-radius: 8px;
  
}

/* ======================
   header styles 
   ====================== */
#header {
  height: 200px;
  border-bottom: 2px solid rgba(0, 0, 51, .15); 
}

#todoapp h1 {
  background-color: #fbfbb6;
  font-size: 5em;
  margin: 0;
  color: rgba(0, 0, 51, .45);
  border-bottom: 1px solid rgba(0,0, 51, .15);  
}

label[for="toggle-all"] {
  float: left;
  color: rgba(0,0,51, .25);
  transform: rotate(90deg);
  text-align: center;
  padding: 20px;
}

label[for="toggle-all"]:hover {
  cursor: pointer;
  color: #fbfbb6;
}

#toggle-all:checked + label[for="toggle-all"] {
  color: #62AFFF;
}

#toggle-all {
  display: none;
}

input[type="text"] {
  width: 80%;
  height: 60px;
  float: left;
  padding: 2px;
  border: none;
  text-indent: .25em; 
}

#new-todo {
  outline: none;
}

#new-todo::placeholder {
	color: rgba(0,0,51, .2);
}



/* ======================
   todo list styles 
   ====================== */
#main {
  clear: both;
}

input[type="checkbox"] {
  display: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#todo-list .view {
	display: -webkit-box;  /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;      /* OLD: Firefox (buggy) */
  display: -ms-flexbox;  /* MID: IE 10 */
  display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
  display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */
	flex-flow: row nowrap;
	align-items: center;
	justify-content:space-between;
}

.container {
	margin: 0 1%;
} 

.container span.complete-cb {
  width: 40px;
  height: 40px;
  background-color: #fff;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 51, .15);
  border-radius: 50%;
	
	content: '\f00c';
  font-family: 'FontAwesome';
  font-size: 1.3em;
  color: transparent; 
	padding: 10%
}

.container span.complete-cb:hover {
  cursor: pointer;
	border: 3px solid #fbfbb6;
}

input[type="checkbox"]:checked + label span.complete-cb {
  color: #62AFFF;
}

#todo-list li p {
	text-align: left;
	width: 85%;
}

.item.completed-item {
  text-decoration: line-through;
  color: rgba(0,0,51, .2);
}

.destroy {
	margin: 0 2% 0 0;
  color: lightpink;
  font-size: 1.4em;
}

.destroy:hover {
  color: #ff4d94;
}

/**** Editing Styles ****/
#todo-list .edit {
	display: none;
}
#todo-list li.editing .edit {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 5px 2px;
	box-sizing: border-box;
}

#todo-list li.editing .view {
    display: none;
}

/* ======================
   footer styles 
   ====================== */
#footer {
  height: 40px;
  border-top: 1px solid rgba(0,0,51, .1);
  padding-top: 20px;
  text-align: left;
  clear: both;
  
}
#footer p {
  float: left;
  display: inline;
  margin: 0;
  padding: 0 0 0 5px;
  font-size: .8em;
}

#footer p,
#footer a {
  padding-top: 5px;
  color: rgba(0, 0, 51, .75);
	border: 1px solid transparent;
  border-radius: 3px;
}

#footer a {
  font-size: 0.75em;
  text-decoration: none;
}



#filters {
  display: inline;
  padding-left: 100px;
}

#filters a {
  padding: 0 10px;
}

#filters a:hover {
  border: 1px solid rgba(0, 0, 51, 0.15);
  border-radius: 3px;
}


#filters a.outline {
	border: 1px solid rgba(0, 0, 51, 0.15);
  border-radius: 3px;
}
#clear-completed {
  float: right;
  padding-right: 10px;
}

#clear-completed:hover {
  text-decoration: underline;
}

footer {
	border-top: 2px solid rgba(0, 0, 51, .15);
	display: flex;
	justify-content: space-around;
}

footer p {
	font-size: 0.7em;
	font-family: sans-serif;	
}

footer a {
	text-decoration: none;
	color: #62AFFF;
}
/* ==== 
   delete these styles after bottom no longer needed 
   ====== */
#spacer {
  height: 75px;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 0),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
         
         #toggle-all {
           transform: rotate(90deg);
         }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
